<div class="section-actions">
  <!-- Left arrow button -->
  <button class="arrow arrow-left">
    <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.5">
        <path
          d="M27.7832 20.2064H13.471M13.471 20.2064L19.3643 26.0996M13.471 20.2064L19.3643 14.3131"
          stroke="#898989"
          stroke-width="2.02054"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>
  </button>
  <!-- Right arrow button -->
  <button class="arrow arrow-right">
    <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.5">
        <path
          d="M13.4688 20.2057H27.7809M27.7809 20.2057L21.8877 14.3125M27.7809 20.2057L21.8877 26.099"
          stroke="#898989"
          stroke-width="2.02054"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>
  </button>
  <!-- Dots indicator (only for homepage sections) -->
  <% if (type
      == "homepage") { %>
  <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
    <circle cx="11.7853" cy="20.2072" r="1.68378" fill="#898989" />
    <circle cx="20.2053" cy="20.2072" r="1.68378" fill="#898989" />
    <circle cx="28.6232" cy="20.2072" r="1.68378" fill="#898989" />
  </svg>
  <% } %>
</div>
