<footer class="player">
  <!-- left side of player (Controls + Song Info) -->
  <div class="player-left">
    <div class="player-left-actions">
      <!-- play / pause button -->
      <div class="music-player-btn" id="playBtn">
        <!-- play icon (shown by default) -->
        <svg class="player-icon play-icon" viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
          <circle cx="19.0085" cy="19.0085" r="19.0085" fill="#1ED760" />
          <path
            d="M24.6336 17.6825C25.6541 18.2716 25.6541 19.7446 24.6336 20.3337L17.3454 24.5416C16.325 25.1308 15.0494 24.3943 15.0494 23.2159L15.0494 14.8003C15.0494 13.6219 16.325 12.8855 17.3454 13.4746L24.6336 17.6825Z"
            fill="black"
          />
        </svg>
        <!-- pause icon (hidden by default) -->
        <svg
          class="player-icon pause-icon"
          viewBox="0 0 39 39"
          xmlns="http://www.w3.org/2000/svg"
          style="display: none"
        >
          <circle cx="19.0085" cy="19.0085" r="19.0085" fill="#1ED760" />
          <path d="M15.8398 14.2559V23.7601" stroke="black" stroke-width="3.16809" stroke-linecap="round" />
          <path d="M22.1758 14.2559V23.7601" stroke="black" stroke-width="3.16809" stroke-linecap="round" />
        </svg>
      </div>
      <!-- other control icons -->
      <svg viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.4414 14.4414V23.9457" stroke="#898989" stroke-width="2.37606" stroke-linecap="round" />
        <path
          d="M16.3308 20.4051C15.4475 19.8385 15.4475 18.5476 16.3308 17.981L22.9161 13.7565C23.8745 13.1417 25.1337 13.8299 25.1337 14.9686V23.4175C25.1337 24.5562 23.8745 25.2444 22.9161 24.6296L16.3308 20.4051Z"
          fill="#898989"
        />
      </svg>
      <svg viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.9453 14.4414V23.9457" stroke="#898989" stroke-width="2.37606" stroke-linecap="round" />
        <path
          d="M22.0559 17.9816C22.9392 18.5482 22.9392 19.8391 22.0559 20.4057L15.4706 24.6302C14.5122 25.245 13.253 24.5568 13.253 23.4181L13.253 14.9692C13.253 13.8305 14.5122 13.1423 15.4706 13.7571L22.0559 17.9816Z"
          fill="#898989"
        />
      </svg>
      <svg viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_52_3637)">
          <path
            d="M9.57812 11.6655C11.0642 11.6655 12.4536 12.4022 13.2875 13.6322L14.0736 14.7919L15.1333 16.3551M27.12 24.171H22.4868C21.2446 24.171 20.0519 23.6847 19.1639 22.8161L18.2904 21.9617M27.12 24.171L23.8345 27.5059M27.12 24.171L23.8345 20.8362"
            stroke="#898989"
            stroke-width="1.90085"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.57812 26.0792C11.0679 26.0792 12.4645 25.3546 13.3222 24.1365L19.1294 15.8899C20.0195 14.6259 21.4689 13.8739 23.0148 13.8739H27.1199M27.1199 13.8739L23.8345 10.5391M27.1199 13.8739L23.8345 17.2087"
            stroke="#898989"
            stroke-width="1.90085"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_52_3637">
            z
            <rect width="20.5926" height="22.1766" fill="white" transform="translate(7.99414 7.99414)" />
          </clipPath>
        </defs>
      </svg>
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.0031 25.5083H13.6271C11.8774 25.5083 10.459 24.0899 10.459 22.3402V16.004C10.459 14.2543 11.8774 12.8359 13.6271 12.8359H26.2994C28.0491 12.8359 29.4675 14.2543 29.4675 16.004V22.3402C29.4675 24.0899 28.0491 25.5083 26.2994 25.5083H19.9632M19.9632 25.5083L23.1313 22.3402M19.9632 25.5083L23.1313 28.6764"
          stroke="#898989"
          stroke-width="1.90085"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div class="music-player">
        <!-- Current time -->
        <span class="music-player-time music-player-time-current">0:00</span>

        <!-- Progress bar wrapper -->
        <div class="music-player-progress-wrapper">
          <div class="music-player-progress">
            <div class="music-player-progress-fill" style="width: 0%"></div>
          </div>
        </div>

        <!-- Total duration -->
        <span class="music-player-time music-player-time-total"></span>
      </div>

      <!-- Audio element -->
      <audio id="audio" src="/assets/audio/Get Lucky.mp3"></audio>

      <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_52_3653)">
          <path
            d="M12.9287 23.7812C9.98052 22.3072 9.98052 18.0991 12.9287 16.625L21.5723 12.3037C22.0154 12.0821 22.5368 12.4041 22.5371 12.8994L22.5371 27.5068C22.5368 28.0022 22.0154 28.3241 21.5723 28.1025L12.9287 23.7812Z"
            stroke="#898989"
            stroke-width="2"
          />
          <path
            d="M26.8711 25.2031C27.6519 24.9902 28.3739 24.5177 28.9492 23.8293C29.7529 22.8676 30.2044 21.5632 30.2044 20.2031C30.2044 18.843 29.7529 17.5387 28.9492 16.5769C28.3739 15.8886 27.6519 15.4161 26.8711 15.2031"
            stroke="#898989"
            stroke-width="1.66667"
            stroke-linecap="round"
          />
          <path
            d="M26.0365 19.6977C26.0365 19.517 26.1884 19.3647 26.3554 19.4339C26.4565 19.4758 26.5483 19.5371 26.6257 19.6145C26.7031 19.6919 26.7645 19.7838 26.8064 19.8849C26.8482 19.986 26.8698 20.0943 26.8698 20.2038C26.8698 20.3132 26.8482 20.4216 26.8064 20.5227C26.7645 20.6238 26.7031 20.7156 26.6257 20.793C26.5483 20.8704 26.4565 20.9318 26.3554 20.9737C26.1884 21.0428 26.0365 20.8906 26.0365 20.7099L26.0365 20.2038L26.0365 19.6977Z"
            fill="#898989"
            stroke="#898989"
            stroke-width="0.833333"
          />
        </g>
        <defs>
          <clipPath id="clip0_52_3653">
            <rect width="23.3333" height="23.3333" fill="white" transform="translate(8.53711 8.53711)" />
          </clipPath>
        </defs>
      </svg>
    </div>

    <!-- song info (Cover, Title, Artist, Album) -->
    <div class="song">
      <img src="/assets/images/getlucky.png" alt="Get Luck Song Cover" class="song-image" />
      <div class="song-text">
        <p class="song-title">Get Lucky</p>
        <p>Daft Punk</p>
        <p class="album">Random Access Memory</p>
      </div>
    </div>
  </div>
  <!-- right side of player (Additional Controls) -->
  <div class="player-right">
    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M22.0683 13.5685L20.2045 15.3745L18.3406 13.5685C16.3863 11.6749 13.2511 11.7794 11.4273 13.7991C9.65749 15.7589 9.41384 18.6943 11.0164 20.793C11.2133 21.0509 11.407 21.2979 11.5913 21.524C12.7577 22.9549 15.3027 25.4539 16.5778 26.7949C17.5199 27.7857 18.3668 28.6121 19.0047 29.214C19.6784 29.8496 20.7184 29.8357 21.3934 29.2014C22.5698 28.0961 24.3737 26.3743 25.6444 25.0379C26.9195 23.6969 27.6512 22.9549 28.8177 21.524C29.0019 21.2979 29.1956 21.0509 29.3925 20.793C30.9951 18.6943 30.7514 15.7589 28.9817 13.7991C27.1578 11.7794 24.0227 11.6749 22.0683 13.5685Z"
        stroke="#898989"
        stroke-width="2.02054"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <rect
        width="19.75"
        height="19.75"
        rx="2.9625"
        transform="matrix(1 0 0 -1 9.70508 30.9375)"
        stroke="#898989"
        stroke-width="1.975"
        stroke-linejoin="round"
      />
      <path
        d="M11.6797 11.1875H27.4797C27.4797 9.55136 26.1533 8.225 24.5172 8.225H14.6422C13.006 8.225 11.6797 9.55136 11.6797 11.1875Z"
        stroke="#898989"
        stroke-width="1.48125"
        stroke-linejoin="round"
      />
      <path
        d="M15.8809 21.3133H19.8309M23.7809 21.3133H19.8309M19.8309 21.3133V17.3633M19.8309 21.3133V25.2633"
        stroke="#898989"
        stroke-width="1.99528"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.1973 14.1504H23.0473" stroke="#898989" stroke-width="1.975" stroke-linecap="round" />
      <path d="M11.1973 21.0625H19.0973" stroke="#898989" stroke-width="1.975" stroke-linecap="round" />
      <path d="M11.1973 27.9746H19.0973" stroke="#898989" stroke-width="1.975" stroke-linecap="round" />
      <path
        d="M28.9727 13.1621V21.9843M28.9727 21.9843V26.5916C28.9727 27.3322 28.4466 27.9733 27.706 27.9746C26.2431 27.9773 24.0352 27.547 24.0352 24.925C24.0352 21.004 28.9727 21.9843 28.9727 21.9843Z"
        stroke="#898989"
        stroke-width="1.975"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
      <rect
        x="17.2578"
        y="11.3672"
        width="11.7865"
        height="17.6797"
        rx="2.94662"
        stroke="#898989"
        stroke-width="2.06263"
      />
      <circle cx="23.1517" cy="23.1537" r="2.94662" fill="#898989" />
      <circle cx="23.151" cy="15.7858" r="1.47331" fill="#898989" />
      <circle cx="12.8385" cy="27.5729" r="1.47331" fill="#898989" />
      <path
        d="M13.5752 22.4157H12.8385C12.0249 22.4157 11.3652 21.7561 11.3652 20.9424V15.7858C11.3652 14.9721 12.0249 14.3125 12.8385 14.3125H13.5752"
        stroke="#898989"
        stroke-width="2.06263"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <circle cx="11.7853" cy="20.2072" r="1.68378" fill="#898989" />
      <circle cx="20.2053" cy="20.2072" r="1.68378" fill="#898989" />
      <circle cx="28.6232" cy="20.2072" r="1.68378" fill="#898989" />
    </svg>
    <img src="/assets/images/player_button.png" alt="player-button" class="player-right-image">
    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.7852 14.5915C11.7852 13.0416 13.0416 11.7852 14.5915 11.7852H25.8167C27.3666 11.7852 28.623 13.0416 28.623 14.5915C28.623 16.1413 27.3666 17.3978 25.8167 17.3978H14.5915C13.0416 17.3978 11.7852 16.1413 11.7852 14.5915Z"
        stroke="#898989"
        stroke-width="2.3573"
      />
      <path
        d="M11.7852 23.0117L28.623 23.0117"
        stroke="#898989"
        stroke-width="2.3573"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M11.7852 28.623L28.623 28.623"
        stroke="#898989"
        stroke-width="2.3573"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <!-- mobile player controls (Shown on small screens) -->
  <div class="player-right mobile-player">
    <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <rect
        width="19.75"
        height="19.75"
        rx="2.9625"
        transform="matrix(1 0 0 -1 9.70508 30.9375)"
        stroke="#898989"
        stroke-width="1.975"
        stroke-linejoin="round"
      />
      <path
        d="M11.6797 11.1875H27.4797C27.4797 9.55136 26.1533 8.225 24.5172 8.225H14.6422C13.006 8.225 11.6797 9.55136 11.6797 11.1875Z"
        stroke="#898989"
        stroke-width="1.48125"
        stroke-linejoin="round"
      />
      <path
        d="M15.8809 21.3133H19.8309M23.7809 21.3133H19.8309M19.8309 21.3133V17.3633M19.8309 21.3133V25.2633"
        stroke="#898989"
        stroke-width="1.99528"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <!-- Mobile play/pause button -->
    <div class="music-player-btn" id="playBtn">
      <svg class="player-icon play-icon" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M28.094 18.2363C29.3508 18.9619 29.3508 20.776 28.094 21.5016L18.1964 27.216C16.9395 27.9417 15.3685 27.0346 15.3685 25.5833L15.3685 14.1545C15.3685 12.7033 16.9395 11.7962 18.1964 12.5219L28.094 18.2363Z"
          fill="#898989"
        />
      </svg>
      <svg class="player-icon pause-icon" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" style="display: none">
        <path d="M16.2051 14.2969V26.8701" stroke="#898989" stroke-width="4.19106" stroke-linecap="round" />
        <path d="M24.5879 14.2969V26.8701" stroke="#898989" stroke-width="4.19106" stroke-linecap="round" />
      </svg>
    </div>
  </div>
  <!-- mobile progress bar -->
  <div class="music-player mobile-progress">
    <div class="music-player-progress-wrapper">
      <div class="music-player-progress">
        <div class="music-player-progress-fill" style="width: 0%"></div>
      </div>
    </div>
  </div>
</footer>
