<footer class="music-player">
  <div class="player-left">
    <div class="album-cover"></div>
    <div class="song-meta">
      <p class="song-title">Get Lucky</p>
      <p class="artist">Daft Punk</p>
    </div>
  </div>

  <div class="player-center">
    <div class="controls">
      <i class="fas fa-backward"></i>
      <button class="play-btn">
        <i class="fas fa-play"></i>
      </button>
      <i class="fas fa-forward"></i>
    </div>

    <div class="timeline">
      <span>2:25</span>
      <input type="range" value="40" />
      <span>4:45</span>
    </div>
  </div>

  <div class="player-right">
    <i class="fas fa-list"></i>
    <i class="fas fa-volume-up"></i>
  </div>
</footer>
