<aside class="sidebar">
  <div class="library-title">
    <i class="fas fa-list"></i>
    <span>My Library</span>
  </div>
  <a href="index.html" class="nav-btn">
    <svg
      width="41"
      height="41"
      viewBox="0 0 41 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2_4292)">
        <path
          d="M11.5605 11.5625V28.8493"
          stroke="#898989"
          stroke-width="2.02054"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M17.3242 11.5625V28.8493"
          stroke="#898989"
          stroke-width="2.02054"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M23.0859 28.8493V11.5625L28.8482 15.5518V28.8493H23.0859Z"
          stroke="#898989"
          stroke-width="2.02054"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_2_4292">
          <rect width="40.4108" height="40.4108" fill="white" />
        </clipPath>
      </defs>
    </svg>

    <span>My Library</span>
  </a>
  <ul class="sidebar-menu">
    <li><i class="fas fa-thumbtack"></i> Pins</li>
    <li><i class="fas fa-music"></i> Playlists</li>
    <li><i class="fas fa-heart"></i> Liked songs</li>
    <li><i class="fas fa-bookmark"></i> Saves</li>
    <li><i class="fas fa-compact-disc"></i> Albums</li>
    <li><i class="fas fa-folder"></i> Folders</li>
    <li><i class="fas fa-podcast"></i> Podcasts</li>
    <li><i class="fas fa-book"></i> Audiobooks</li>
    <li><i class="fas fa-user"></i> Artists</li>
  </ul>
</aside>
