<aside class="sidebar">
  <div class="library-title">
    <i class="fas fa-list"></i>
    <span>My Library</span>
  </div>

  <ul class="sidebar-menu">
    <li><i class="fas fa-thumbtack"></i> Pins</li>
    <li><i class="fas fa-music"></i> Playlists</li>
    <li><i class="fas fa-heart"></i> Liked songs</li>
    <li><i class="fas fa-bookmark"></i> Saves</li>
    <li><i class="fas fa-compact-disc"></i> Albums</li>
    <li><i class="fas fa-folder"></i> Folders</li>
    <li><i class="fas fa-podcast"></i> Podcasts</li>
    <li><i class="fas fa-book"></i> Audiobooks</li>
    <li><i class="fas fa-user"></i> Artists</li>
  </ul>
</aside>
