<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/sidebar') %>
      <div class="right">
        <%- include('partials/header') %>
        <div class="content-wrapper">
          <main class="main-content">
            <div class="search">
              <div class="search-box">
                <input type="text" placeholder="Search Library" />
                <svg class="small-svg" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M22.1492 21.8208C23.4966 20.4463 24.3274 18.5637 24.3274 16.4869C24.3274 12.2787 20.9159 8.86719 16.7076 8.86719C12.4994 8.86719 9.08789 12.2787 9.08789 16.4869C9.08789 20.6952 12.4994 24.1067 16.7076 24.1067C18.8392 24.1067 20.7663 23.2314 22.1492 21.8208ZM22.1492 21.8208L26.6133 26.3926"
                    stroke="#898989"
                    stroke-opacity="0.5"
                    stroke-width="1.77054"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20.5 11V30
       M11 20.5H30"
                  stroke="#898989"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="mobile-library-wrapper">
              <div class="library-filter">
                <button>
                  <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.3351 14.081L11.3351 14.081" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M25.8273 20.081H15.8273" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M22.8273 26.081H18.8273" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                  </svg>
                  <span>Group</span>
                </button>
                <button>
                  <span>Recents</span>
                  <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.584 26.3301H28.584" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M11 26.3301H12" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M16.584 20.3301H28.584" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M11 20.3301H12" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M16.584 14.3301H28.584" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                    <path d="M11 14.3301H12" stroke="#898989" stroke-width="2" stroke-linecap="round" />
                  </svg>
                </button>
              </div>

              <section class="mobile-sidebar"><%- include('partials/sidebar') %></section>
            </div>
          </main>
        </div>
      </div>
      <%- include('partials/player') %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
