@use "../abstracts/_variables";
@use "../abstracts/_mixins";
.hero-wrapper {
  @include mixins.flex-column();
}
.hero-section {
  @include mixins.flex-column(null);
  align-items: center;
  height: 100vh; /* fixed height */
  overflow-y: auto; /* make it scrollable */
  @include mixins.hide-scrollbar();
  .hero-slide {
    @include mixins.flex-row(80px, center, center);
    background-color: rgba(var(--colour-r), var(--colour-g), var(--colour-b), 0.2);
    padding: 100px 0;
    width: 100%;
    height: 100vh;
  }
  .hero-left {
    .hero-image-wrapper {
      position: relative;
      .progress-bar {
        width: calc(100% - 34px);
        height: 6px;
        background: #dbdbdb33;
        border-radius: 16px;
        overflow: hidden;
        position: absolute;
        bottom: 12px;
        left: 17px;
        cursor: pointer;
      }

      .progress {
        width: 0%;
        height: 100%;
        background: variables.$text-primary;
      }

      .hero-image {
        width: 400px;
        height: 612px;
        border-radius: 10px;
      }
    }
  }
  .discover-action-btn {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 13;
  }
  .hero-right {
    display: flex;
    align-items: center;

    .info-card {
      @include mixins.flex-row(18px);

      .info-left {
        img.artist-image {
          @include mixins.square(185px);
        }
      }

      .info-right {
        @include mixins.flex-column(20px);
        justify-content: center;
        .profile-icon-mobile {
          display: none;
        }
        p {
          color: variables.$text-secondary;
          display: inline-block;
        }
        .title {
          letter-spacing: 3%;
          font-size: 30px;
          font-weight: bold;
          color: variables.$text-primary;
        }
        .player-controls {
          @include mixins.flex-row(14px, center);

          button {
            background: none;
            border: none;
            cursor: pointer;
          }
          .favorite {
            display: flex;
            align-items: center;
          }
          &-desc {
            display: flex;
            gap: 14px;
          }
        }

        .genre-buttons {
          @include mixins.flex-row(10px);
          .genre-btn {
            @include mixins.genre-button();
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .discover-page {
    main {
      margin-bottom: 100px;
    }
    .player {
      display: none;
    }
    .filter-buttons {
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 1) 100%);
      gap: 40px;
      align-items: center;
      overflow-x: auto;
      padding-bottom: 16px;
      .filter-btn {
        background-color: transparent;
        padding: 0;
        &.active {
          font-weight: bold;
          position: relative;
          background-color: transparent;
          color: variables.$text-primary;
        }
        &.active::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -16px;
          width: 100%;
          height: 2px;
          background-color: variables.$accent-green;
          border-radius: 14px;
        }
      }
    }
  }

  .hero-section {
    .hero-slide {
      position: relative;
      height: 100vh;
      padding: 0;
      justify-content: flex-start;
      .hero-right {
        position: absolute;
        bottom: 25px;
        width: 100%;

        .info-card {
          background-color: transparent;
          border: none;
          margin-left: 17px;
          gap: 11px;
          .info-right {
            gap: 3px;
          }
          .profile-icon-mobile {
            display: block;
            position: relative;
            height: 41px;
            width: 41px;
            img {
              width: 100%;
              border-radius: 50%;
            }
            svg {
              position: absolute;
              bottom: -12px;
              width: 24px;
              height: 24px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .info-right-desc {
            font-size: 14px;
            > * {
              display: none;
            }
            > :first-child {
              display: block;
              .by-text {
                display: none;
              }
            }
          }
          .info-right .title {
            font-size: 14px;
          }
          .genre-buttons {
            position: absolute;
            left: 14px;
            bottom: 70px;
          }
          .info-left {
            img.artist-image {
              @include mixins.square(51px);
            }
          }
        }
      }
      .hero-left {
        width: 100%;
        .hero-image-wrapper {
          height: calc(100vh - 135px);
          width: 100%;
          .hero-image {
            display: block;
            @include mixins.image-cover();
          }
        }
        .hero-image-wrapper::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 1) 100%);
          pointer-events: none; /* lets clicks pass through */
        }
      }
    }
  }

  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: auto; /* ensure it can receive clicks */
    z-index: 10;
  }

  .player-controls {
    position: absolute;
    right: 6px;
    bottom: 0;
    flex-direction: column;
    gap: 18px;
    .player-icon {
      display: none;
    }
    .favorite {
      flex-direction: column;
    }
    .adjust {
      display: none;
    }
  }
}
