@use "../abstracts/_variables";
@use "../abstracts/_mixins";
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-section {
  height: 100vh; /* fixed height */
  overflow-y: auto; /* make it scrollable */
  @include mixins.hide-scrollbar();
}

.hero-slide {
  height: 100vh; /* so each slide fills the container */
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: rgba(var(--colour-r), var(--colour-g), var(--colour-b), 0.2);
    padding: 100px 0;
    width: 100%;
  }
  .hero-left {
    .hero-image-wrapper {
      position: relative;
      .progress-bar {
        width: calc(100% - 34px);
        height: 6px;
        background: #dbdbdb33;
        border-radius: 16px;
        overflow: hidden;
        position: absolute;
        bottom: 12px;
        left: 17px;
        cursor: pointer;
      }

      .progress {
        width: 0%;
        height: 100%;
        background: variables.$text-primary;
      }

      .hero-image {
        width: 400px;
        height: 612px;
        border-radius: 10px;
      }

      .slider-timer {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 5px;
        align-items: center;

        .slider-line {
          width: 60px;
          height: 4px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 2px;

          &.active {
            background-color: #1db954; // Spotify green
          }
        }

        .slider-arrow {
          background: none;
          border: none;
          color: white;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
  }
  .discover-action-btn {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 13;
  }
  .hero-right {
    display: flex;
    align-items: center;

    .info-card {
      display: flex;
      gap: 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1rem;
      border-radius: 1rem;

      .info-left {
        img.artist-image {
          width: 184px;
          height: 192px;
        }
      }

      .info-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        p {
          color: variables.$text-secondary;
          display: inline-block;
        }
        .title {
          letter-spacing: 3%;
          font-size: 30px;
          font-weight: bold;
          color: variables.$text-primary;
        }
        .player-controls {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          button {
            background: none;
            border: none;
            cursor: pointer;
          }
          .favorite {
            display: flex;
            align-items: center;
          }
          &-desc {
            display: flex;
            gap: 14px;
          }
        }

        .genre-buttons {
          display: flex;
          gap: 10px;

          .genre-btn {
            @include mixins.genre-button();
          }
        }
      }
    }
  }
}
