@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Mobile Section Cards
===================== */
.mobile-section {
  flex-wrap: wrap;
  gap: 10px;
  display: none;
}
.mobile-card {
  width: calc((100% - 10px) / 2);
  padding: 8px;
  border-radius: variables.$radius-md;
  background-color: variables.$background-secondary;
  color: variables.$text-primary;
  display: flex;
  gap: 8px;
  font-size: variables.$font-md;
  img {
    @include mixins.square(43px);
  }
  &-info {
    @include mixins.flex-column(null, space-between);
    @include mixins.text-ellipsis();
  }
  &-author {
    color: variables.$text-secondary;
  }
  .mobile-title-center {
    @include mixins.flex-row(null, center);
  }
}
/* =====================
  Home Buttons
===================== */
.home-buttons {
  @include mixins.flex-row(null, center, space-between);
  .filter-buttons {
    overflow-x: auto;
  }
}
.filter-buttons {
  display: flex;
  gap: 10px; // gap between buttons
  @include mixins.hide-scrollbar();

  .filter-btn {
    background-color: rgba(32, 32, 32, 0.5);
    color: variables.$text-primary;
    border-radius: 8px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-family: variables.$font-primary;
    font-size: variables.$font-md;
    transition: all 0.2s ease;

    &.active {
      background-color: variables.$text-primary;
      color: variables.$background-primary;
      font-weight: bold;
    }
    &:hover {
      background-color: variables.$background-secondary;
    }
  }
}
/* =====================
  Sections Layout
===================== */
.section {
  @include mixins.flex-column(15px);

  &-title {
    @include mixins.flex-row(null, center, space-between);
  }
}

@media (max-width: 420px) {
  .main-content {
    .mobile-section {
      display: flex;
    }
    .filter-buttons {
      .filter-btn {
        font-size: variables.$font-sm;
      }
    }
    .arrow {
      display: none;
    }
  }
}
