@use "../abstracts/_variables";

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30px; // gap between sections
  padding: 12px 25px;
  .mobile-section {
    flex-wrap: wrap;
    gap: 10px;
    display: none;
  }
  .mobile-card {
    width: 175px;
    padding: 8px;
    border-radius: 10px;
    background-color: #202020;
    color: variables.$text-primary;
    display: flex;
    gap: 8px;

    img {
      width: 43px;
      height: 43px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      white-space: nowrap; // don’t wrap to next line
      overflow: hidden; // hide overflowing text
      text-overflow: ellipsis; // show "..."
    }
    &-author {
      color: variables.$text-secondary;
    }
    .mobile-title-center {
      display: flex;
      align-items: center;
    }
  }
  .home-buttons {
    display: flex;
    justify-content: space-between;
  }
  .filter-buttons {
    display: flex;
    gap: 10px; // gap between buttons

    .filter-btn {
      background-color: rgba(32, 32, 32, 0.5);
      color: variables.$text-primary;
      border-radius: 8px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      font-family: variables.$font-primary;
      font-size: 14px;
      transition: all 0.2s ease;

      &.active {
        background-color: variables.$text-primary;
        color: variables.$background-primary;
        font-weight: bold;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 15px; // gap between h3 and cards container

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@media (max-width: 420px) {
  .main-content {
    .mobile-section {
      display: flex;
    }
    .filter-buttons {
      .filter-btn {
        font-size: 12px;
      }
    }
    .arrow {
      display: none;
    }
  }
}