@use "../abstracts/_variables";
.library {
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-actions {
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
    gap: 35px;
    &-first {
      display: flex;
      gap: 10px;
    }
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: variables.$text-secondary;
    font-size: 14px;
  }
}

.pinned {
  position: absolute;
  top: 0;
  right: 0;
  background-color: variables.$background-primary;
  border-radius: 50%;
  cursor: pointer;
}
