@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Section Actions
===================== */
.section-actions {
  &-right {
    @include mixins.flex-row(35px);
    &-first {
      @include mixins.flex-row(10px);
    }
  }
}
/* =====================
  Songs Table & Song Content
===================== */
.songs-table {
  color: variables.$text-secondary;
  font-size: variables.$font-md;
  border-collapse: separate;
  text-align: left;
  max-width: 800px;
  tbody {
    tr:hover {
      background-color: variables.$background-primary;
    }
  }

  thead {
    position: relative;
    tr th {
      border-bottom: 32px solid transparent;
    }
  }
  th {
    font-weight: 400;
  }

  td {
    padding: 8px 0;
  }
  th:first-child,
  td:first-child {
    padding-right: 30px;
    text-align: center;
  }
}

.songs-table thead::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: calc(100% + 600px);
  height: 2px;
  background: #89898915;
}
.song-content {
  @include mixins.flex-row(10px);
  img {
    @include mixins.square(51px);
    border-radius: variables.$radius-sm;
  }
  .song-info {
    @include mixins.flex-column(4px);
    .title {
      font-size: 16px;
      color: variables.$text-primary;
    }
  }
}

@media (max-width: 420px) {
  .liked-mobile {
    overflow-x: hidden;

    .section-actions-right {
      gap: 5px;
    }
    .songs-table {
      font-size: variables.$font-sm;
    }
    .song-content {
      align-items: center;

      .song-info {
        .title {
          font-size: variables.$font-md;
          padding-right: 5px;
        }
      }
    }
    .song-duration {
      padding-left: 10px !important;
    }
    .group-action,
    .recent-action {
      display: none;
    }
  }
}
