@use "../abstracts/_variables";
@use "../abstracts/_mixins";
.section-actions {
  &-right {
    @include mixins.flex-row(35px);
    &-first {
      @include mixins.flex-row(10px);
    }
  }
}
.songs-table {
  color: variables.$text-secondary;
  font-size: 14px;
  border-collapse: separate;
  text-align: left;
  max-width: 800px;
  thead {
    position: relative;
  }
  tbody tr:first-child td {
    border-top: 32px solid transparent;
  }
  th {
    font-weight: 400;
  }

  td {
    padding: 8px 0;
  }
  th:first-child,
  td:first-child {
    padding-right: 30px;
    text-align: center;
  }
}

.songs-table thead::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 12px);
  width: calc(100% + 600px);
  height: 2px;
  background: #89898915;
}
.song-content {
  @include mixins.flex-row(10px);
  img {
    @include mixins.square(51px);
    border-radius: 3px;
  }
  .song-info {
    @include mixins.flex-column(4px);
    .title {
      font-size: 16px;
      color: variables.$text-primary;
    }
  }
}

@media (max-width: 420px) {
  .liked-mobile {
    overflow-x: hidden;

    .section-actions-right {
      gap: 5px;
    }
    .songs-table {
      font-size: 12px;
    }
    .song-content {
      align-items: center;

      .song-info {
        .title {
          font-size: 14px;
          padding-right: 5px;
        }
      }
    }
    .song-duration {
      padding-left: 10px !important;
    }
    .group-action,
    .recent-action {
      display: none;
    }
  }
}
