@use "../abstracts/_variables";
@use "../abstracts/_mixins";
@media (max-width: 420px) {
  .profile-page {
    color: variables.$text-primary;

    .profile {
      position: relative;
      @include mixins.flex-row(null, center, space-between);
      background: linear-gradient(to bottom, #8a354a -92%, #111111 92%);
      border-radius: 12px;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.082);

      .profile-info {
        @include mixins.flex-row(null, center);

        .profile-text {
          @include mixins.flex-column(14px, space-between);

          h2 {
            font-size: 20px;
            font-weight: bold;
          }

          p {
            font-size: 14px;
          }

          &-desc {
            @include mixins.flex-column(10px);

            .first-row {
              @include mixins.flex-row(10px);
            }

            span {
              color: variables.$text-secondary;
            }
          }
        }

        .profile-pic {
          @include mixins.square(95px);
          border-radius: 50%;
          margin: 19px;
          margin-right: 16px;
        }
      }

      .profile-actions {
        position: absolute;
        @include mixins.flex-row(7px);
        top: 6px;
        right: 6px;
      }
    }

    .friends-mobile {
      .friends-section {
        max-height: 165px;
        gap: 0;
        border-radius: 12px;
        padding: 6px 6px 16px 21px;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.082);
        border: 1px solid variables.$background-secondary;

        &-title {
          align-items: flex-start;

          p {
            font-size: 12px;
            padding-top: 7px;
          }

          &-icons {
            #friends-close {
              display: none;
            }
          }
        }
        .friend-activity {
          overflow-y: auto;
          @include mixins.flex-column(10px);
          @include mixins.hide-scrollbar();
        }
      }
    }
    .profile-plan {
      @include mixins.flex-column(20px);
      background: linear-gradient(to bottom, #10301b 0%, #111111 100%);
      border-radius: 12px;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.082);
      padding: 16px 0 26px 21px;

      .current-plan {
        @include mixins.flex-row(13px, center);

        img {
          @include mixins.square(20px);
        }

        p {
          font-size: 12px;
        }

        &-info {
          @include mixins.flex-column(5px);
          h3 {
            font-size: 18px;
            color: variables.$accent-green;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    .menu-options {
      .menu-item {
        @include mixins.flex-row(auto, center, space-between);
        padding: 3.5px 5px;
        border-bottom: 2px solid variables.$background-secondary;
        svg {
          color: variables.$text-secondary;
        }
        h4 {
          font-size: 16px;
        }
        &-info {
          @include mixins.flex-row(11px, center);
        }
      }
    }
  }
}
