@use "../abstracts/_variables";

.empty-saves .card-container{
  display: flex;
  justify-content: center;
  align-items: center;

  .empty-state {
    text-align: center;
    color: variables.$text-secondary;

    h3 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media(max-width: 420px){
  .saves-mobile .card-container{
    .empty-state {
      margin-top: 24px;
  
      h3 {
        font-size: 20px;
        margin-bottom: 8px;
      };
  
      p {
        font-size: 14px;
      };
    }
  }
}