@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Search Cards
===================== */
.card {
  &-title-search {
    color: white;
    font-weight: 900;
    margin: 20px 0 0 20px;
    font-size: variables.$font-md;
    max-width: 88px;
  }
  &-image-search {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.search-card {
  height: 170px;
  border-radius: variables.$radius-md;
}
.cancel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 13;
  cursor: pointer;
}
.search {
  display: none;
}

@media (max-width: 420px) {
  .search-mobile {
    .search {
      @include mixins.flex-row(14px);
      &-box {
        @include mixins.flex-row(8px, center);

        input {
          flex: 1;
          min-width: 0;
        }
      }
    }
    .recent-search {
      display: none;
    }
    .card-container {
      overflow-x: unset;
      flex-wrap: wrap;
      @include mixins.flex-row(20px, null, center);

      .card {
        position: relative;
        overflow: hidden;
        width: calc(50% - 10px);
        margin-bottom: -8px;
        &-title-search {
          z-index: 2;
        }
        &-image-search {
          top: 22px;
          left: 58px;
          z-index: 1;
        }
      }
    }
    .search-card {
      height: 100px;
    }
  }
}
