.card {
  &-title-search {
    color: white;
    font-weight: 900;
    margin: 20px 0 0 20px;
    font-size: 20px;
    max-width: 88px;
  }
  &-image-search {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.search-card {
  height: 170px;
  border-radius: 10px;
}
.cancel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 13;
  cursor: pointer;
}
