@use "../abstracts/_variables";
@use "../abstracts/_mixins";
.cards-viewport {
  overflow: hidden;
  width: 100%;
}
.card-container {
  @include mixins.flex-row(11px);
  .podcasts-content {
    position: relative;
    padding: 10px 0 10px 12px;
    background-color: rgba(var(--colour-r), var(--colour-g), var(--colour-b), 0.05);
  }

  .podcasts-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; /* thickness of the line */
    border-radius: 5px; /* rounded corners */
    background-color: rgba(var(--colour-r), var(--colour-g), var(--colour-b), 0.6);
  }
}

.card {
  @include mixins.flex-column(6px);
  flex: 0 0 170px; /* fixed width */
  position: relative;

  .card-image {
    width: 170px;
    img {
      @include mixins.image-cover();
    }
  }
  .card-content {
    @include mixins.flex-column(8px);

    &-top {
      display: flex;
    }

    .card-title {
      font-size: 14px;
      font-weight: 500;
      @include mixins.text-ellipsis(140px);
      color: variables.$text-primary;
    }

    .card-quantity {
      font-size: 14px;
      color: variables.$text-secondary;
    }
    .card-quantity-liked {
      color: variables.$accent-green;
    }

    .card-description {
      font-size: 12px;
      color: variables.$text-secondary;
    }
  }
}
// specific card styles
.artist {
  gap: 12px;
  .card-content-top {
    justify-content: center;
  }
  .card-image img {
    border-radius: 50%;
  }
  .card-title {
    text-align: center;
  }
}
.mix,
.album,
.playlist {
  .card-content-top {
    justify-content: space-between;
  }
}

@media (max-width: 420px) {
  .card-container {
    overflow-x: auto;
    @include mixins.hide-scrollbar();
  }
}
