@use "../abstracts/_variables";
.cards-viewport {
  overflow: hidden;
  width: 100%;
}
.card-container {
  display: flex;
  gap: 11px;
  .podcasts-content {
    position: relative;
    padding: 10px 0 10px 12px;
    background-color: rgba(
      var(--colour-r),
      var(--colour-g),
      var(--colour-b),
      0.05
    );
  }

  .podcasts-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; /* thickness of the line */
    border-radius: 5px; /* rounded corners */
    background-color: rgba(
      var(--colour-r),
      var(--colour-g),
      var(--colour-b),
      0.6
    );
  }
}
.artist {
  .card-content-top {
    justify-content: center;
  }
  .card-image img {
    border-radius: 50%;
  }
  .card-title {
    text-align: center;
  }
}
.mix,
.album {
  .card-content-top {
    justify-content: space-between;
  }
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 170px; /* fixed width */
  gap: 6px;

  .card-image {
    width: 170px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-top {
      display: flex;
    }

    .card-title {
      font-size: 14px;
      font-weight: 500;
      width: 140px; // max width
      white-space: nowrap; // don’t wrap to next line
      overflow: hidden; // hide overflowing text
      text-overflow: ellipsis; // show "..."
      color: variables.$text-primary;
    }

    .card-quantity {
      font-size: 14px;
    }

    .card-description {
      font-size: 12px;
      color: variables.$text-secondary;
    }
  }
}
