@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Header
===================== */
.header {
  flex-shrink: 0;
}
/* =====================
  Navigation
===================== */
.navigation {
  height: 54px;
  @include mixins.flex-row(null, center, space-between);

  @include mixins.theme-bg-main();
  /* =====================
  Navigation Left
  ===================== */
  .nav-left {
    @include mixins.flex-row(25px, center);
  }
}
.nav-btn {
  @include mixins.flex-link();
  color: variables.$text-secondary;
  padding: 7px 0;
  width: 210px;
  span {
    font-size: variables.$font-md;
  }
}
a.header-library,
a.header-profile {
  display: none;
}
.search-box {
  @include mixins.flex-link(8px);

  input {
    background: transparent;
    border: none;
    outline: none;
    color: variables.$text-primary;

    &::placeholder {
      color: variables.$text-secondary;
    }
  }
}
/* =====================
    Navigation Right
  ===================== */
.nav-right {
  @include mixins.flex-row(13px, center);

  a {
    @include mixins.flex-link();
    font-size: 16px;
  }

  .theme-toggle {
    @include mixins.flex-link();
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .profile-circle {
    @include mixins.square(32px);
    border-radius: variables.$radius-circle;
    background-color: variables.$background-player;
  }
}
@media (max-width: 420px) {
  .header {
    position: fixed;
    z-index: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 43%, rgba(17, 17, 17, 0.85) 100%);
  }
  .navigation {
    height: 95px;
    background: transparent;
    .nav-right {
      display: none;
    }
    .nav-left {
      @include mixins.flex-row(31px, center);
      width: 100%;
      a.header-library,
      a.header-profile {
        display: flex;
      }
      a.nav-btn {
        flex-direction: column;
        width: auto;
        gap: 0;
        span {
          font-size: variables.$font-sm;
        }
      }
    }
  }
}
