@use "../abstracts/_variables";
@use "../abstracts/_mixins";

.header {
  flex-shrink: 0;
  .navigation {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$text-secondary;
    background-color: variables.$background-main;

    .nav-left {
      display: flex;
      align-items: center;
      gap: 25px;

      a.nav-btn {
        @include mixins.flex-link();
        padding: 7px 0;
        border-radius: 10px;
        width: 210px;

        span {
          font-size: 14px;
        }
      }
      a.header-library,
      a.header-profile {
        display: none;
      }
      .search-box {
        @include mixins.flex-link(8px);

        input {
          background: transparent;
          border: none;
          outline: none;
          color: variables.$text-primary;

          &::placeholder {
            color: variables.$text-secondary;
          }
        }
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 13px;

      a {
        @include mixins.flex-link();
        font-size: 16px;
      }

      .profile-circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: variables.$background-player;
      }
    }
  }
}
@media (max-width: 420px) {
  .header {
    position: fixed;
    z-index: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 43%, rgba(17, 17, 17, 0.85) 100%);
    .navigation {
      height: 95px;
      background: transparent;
      .nav-right {
        display: none;
      }
      .nav-left {
        display: flex;
        align-items: center;
        gap: 31px;
        width: 100%;
        a.header-library,
        a.header-profile {
          display: flex;
        }
        a.nav-btn {
          flex-direction: column;
          width: auto;
          gap: 0;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
