@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Player
===================== */
.player {
  flex-shrink: 0;
  @include mixins.flex-row(null, center, space-between);
  background-color: variables.$background-player;
  padding: 12px 20px;
  border-radius: variables.$radius-md;
  position: fixed;
  bottom: 0;
  width: calc(100% - 260px);
  .mobile-player,
  .mobile-progress {
    display: none;
  }
  svg {
    stroke: none;
  }
  &-left {
    @include mixins.flex-row(26px);
  }
  &-left-actions {
    @include mixins.flex-row(5px, center);
  }
  &-right {
    @include mixins.flex-row(5px);
  }
}
/* =====================
  Song Display
===================== */
.song {
  display: flex;
  align-items: center;
  gap: 10px;
  &-image {
    @include mixins.square(51px);
  }
  &-text {
    @include mixins.flex-column();
    justify-content: space-between;
    font-size: variables.$font-md;
    color: variables.$text-secondary;
  }
  &-title {
    color: variables.$text-primary;
  }
}
/* =====================
  Music Controls & Progress
===================== */
.music-player {
  @include mixins.flex-row(10px, center);
  width: 317px;
}

.music-player-time {
  font-size: variables.$font-sm;
  color: variables.$text-secondary;
}

.music-player-progress-wrapper {
  flex: 1;
  height: 6px;
  background-color: #555; /* unfilled line */
  border-radius: variables.$radius-sm;
  position: relative;
  cursor: pointer;
}

.music-player-progress {
  width: 100%;
  height: 100%;
  position: relative;
}

.music-player-progress-fill {
  height: 100%;
  background-color: variables.$text-primary;
  border-radius: variables.$radius-sm;
  width: 0%;
  pointer-events: none; /* so clicks go to wrapper */
}
@media (max-width: 420px) {
  .player {
    z-index: 3;
    left: 7px;
    right: 7px;
    width: auto;
    padding: 11px;
    height: 61px;
    bottom: 95px;
    &-right,
    &-left-actions {
      display: none;
    }
    .mobile-progress {
      display: block;
      position: absolute;
      bottom: 0;
      left: 11px;
      right: 11px;
      width: auto;
    }
    .music-player-progress-wrapper {
      height: 2px;
    }
    .mobile-player {
      display: flex;
    }
    .song {
      .album {
        display: none;
      }
      .song-image {
        @include mixins.square(43px);
      }
    }
  }
}
