@use "../abstracts/_variables";
@use "../abstracts/_mixins";

.sidebar {
  padding: 7px 0;

  .sidebar-nav {
    .sidebar-menu {
    .sidebar-menu {
      display: flex;
      flex-direction: column;
      gap: 11px; // gap between li elements
      width: 260px; // fixed desktop width

      li {
        display: flex;
        justify-content: space-between;
        a.nav-btn {
          @include mixins.flex-link();
          width: 100%;
          span {
            color: variables.$text-secondary;
          }
        }

        &.active a.nav-btn {
          border-radius: 4px;
          font-weight: 700;

          span {
            color: variables.$text-primary;
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .mobile-sidebar {
    .sidebar {
      display: flex;
      flex-direction: column;
      &-nav {
        .sidebar-menu {
          width: 100%;
          li {
            a.nav-btn {
              padding: 20px 0;
              border-bottom: 2px solid #202020;
              span {
                color: variables.$text-primary;
                font-size: 20px;
                font-weight: bold;
              }
              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}}