@use "../abstracts/_variables";
@use "../abstracts/_mixins";
/* =====================
  Sidebar 
===================== */
.sidebar {
  padding: 7px 0;

  .sidebar-menu {
    @include mixins.flex-column(11px);
    width: 260px; // fixed desktop width

    li {
      @include mixins.flex-row(null, center, space-between);
      a.nav-btn {
        @include mixins.flex-link();
        width: 100%;
        span {
          color: variables.$text-secondary;
        }
      }

      a.active {
        border-radius: 4px;

        span {
          color: variables.$text-primary;
        }
      }
    }
    .mobile-arrow {
      display: none;
    }
  }
}
@media (max-width: 420px) {
  .sidebar {
    display: none;
  }
  .mobile-sidebar {
    .sidebar {
      @include mixins.flex-column();
      padding-top: 0;
      &-nav {
        .sidebar-menu {
          width: 100%;
          gap: 0;
          > :nth-child(2) {
            padding-top: 11px;
            a.nav-btn {
              padding-top: 0;
            }
          }
          .sidebar-library {
            display: none;
          }
        }
        li {
          padding: 20px 0;
          border-bottom: 2px solid #202020;

          a.nav-btn {
            span {
              color: variables.$text-primary;
              font-size: variables.$font-lg;
              font-weight: bold;
            }
            svg {
              display: none;
            }
          }
        }
        .mobile-arrow {
          display: block;
        }
      }
    }
  }
}
