@use "../abstracts/_variables";
body {
  font-family: variables.$font-primary;
  background-color: variables.$background-main;
  background-color: variables.$background-main;
}
.wrapper {
  display: flex;
  height: 100%;
  height: 100%;
  padding: 0 7px;
}
.right {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  position: relative;
  margin-left: 7px;
}
.content-wrapper {
  height: calc(100vh - 60px - 90px);
  margin-bottom: 5px;
  display: flex;
}
main {
  flex: 1;
  min-width: 0;
  border-radius: 10px;
  border: 1px solid #202020;
  overflow-y: auto;

  /* hide scrollbar for WebKit browsers (Chrome, Safari) /
  scrollbar-width: none; / Firefox /
  -ms-overflow-style: none; / IE 10+ /
}

body:-webkit-scrollbar {
  display: none; / Chrome, Safari, Opera */
}
.active {
  color: variables.$text-primary;
  background-color: variables.$background-primary;
  border-radius: 10px;
}
.sidebar,
.header {
  .active {
    svg {
      stroke: variables.$text-primary !important;
      fill: variables.$text-primary;
    }
  }
}
svg {
  width: 41px;
  height: 41px;
  fill: none;
  cursor: pointer;
}
.sidebar,
.header svg {
  stroke: variables.$text-secondary;
  stroke-width: 2;
  stroke-linejoin: round;
}
.arrow-left,
.arrow-right {
  opacity: 0.4;
  pointer-events: none;
}

.arrow-left.active,
.arrow-right.active {
  opacity: 1;
  pointer-events: auto;
  color: var(--text-primary);
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: variables.$text-primary;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  color: variables.$text-primary;
}
@media (max-width: 420px) {
  .sidebar {
    display: none;
  }
  .right {
    margin-left: 0;
    width: 100%;
  }

  .wrapper {
    padding: 0;
  }
  .content-wrapper {
    height: auto;
    flex-direction: column;
  }
  .main-content {
    margin-bottom: 155px;
  }
}