@use "variables";
/* =====================
  Mixins
===================== */
@mixin flex-link($gap: 10px, $color: variables.$text-secondary, $hover-color: variables.$text-primary) {
  display: flex;
  align-items: center;
  gap: $gap;
  color: $color;
  transition: color 0.2s ease;

  &:hover {
    color: $hover-color;
    span,
    svg {
      fill: $hover-color;
      stroke: variables.$text-primary;
      transition:
        color 0.3s ease,
        fill 0.3s ease;
    }
  }
}

@mixin genre-button() {
  background: none;
  border: 2px solid rgba(137, 137, 137, 0.1);
  color: variables.$text-secondary;
  font-size: 12px;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 44px;
}
@mixin hide-scrollbar {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE 10+

  &::-webkit-scrollbar {
    display: none; // Chrome / Safari
  }
}
@mixin flex-column($gap: null, $justify: null) {
  display: flex;
  flex-direction: column;
  @if $justify {
    justify-content: $justify;
  }

  @if $gap {
    gap: $gap;
  }
}
@mixin image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin text-ellipsis($width: 100%) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flex-row($gap: null, $align: null, $justify: null) {
  display: flex;

  @if $gap {
    gap: $gap;
  }

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }
}
@mixin square($size) {
  width: $size;
  height: $size;
}
