@use "variables";

// Mixin for flex items with text styling
@mixin flex-link($gap: 10px, $color: variables.$text-secondary, $hover-color: variables.$text-primary) {
  display: flex;
  align-items: center;
  gap: $gap;
  text-decoration: none;
  color: $color;
  font-family: variables.$font-primary;
  transition: color 0.2s ease;

  &:hover {
    color: $hover-color;
  }
}

@mixin genre-button() {
  background: none;
  border: 2px solid rgba(137, 137, 137, 0.1); // #898989 at 10% opacity
  color: variables.$text-secondary;
  font-size: 12px;
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 44px;
}
@mixin hide-scrollbar {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE 10+

  &::-webkit-scrollbar {
    display: none; // Chrome / Safari
  }
}
