@use "../base/_fonts";
// Colors
$accent-green: #1ed760; // for buttons, links, highlights
$text-primary: #e0e0e0; // main text
$text-secondary: #898989; // secondary text, muted text
$background-main: #060606; // general background
$background-primary: #111111;
$background-player: #333842; // music player or component background
$background-secondary: #202020; // profile page border-bottom
// Fonts
$font-primary: "Satoshi", sans-serif;
