@use "../base/_fonts";

/* =====================
  Colors
===================== */

$accent-green: #1ed760; // buttons, links, highlights
$text-primary: #e0e0e0; // main text
$text-secondary: #898989; // secondary text
$background-main: #060606; // main background
$background-primary: #111111; // primary background
$background-player: #333842; // music player background
$background-secondary: #202020; // secondary background

/* =====================
  Fonts
===================== */
$font-primary: "Satoshi", sans-serif;

/* =====================
  Font Sizes
===================== */
$font-sm: 12px;
$font-md: 14px;
$font-lg: 20px;

/* =====================
  Border Radius
===================== */
$radius-sm: 3px;
$radius-md: 10px;
$radius-lg: 12px;
$radius-circle: 50%;

/* =====================
  Content Paddings
===================== */
$padding-main-mobile: 12px 15px;
$padding-main-desktop: 12px 25px;
